@use 'global' as *;

.qa {
    margin-top: rem(128);
    position: relative;
    z-index: 2;
    @include mq() {
        margin-top: rem(56);
    }
}

.qa__inner.inner {
    @include mq() {
        padding: 0 rem(14);
    }
}

.qa__contents-wrap {
    padding: rem(96) 0;
    background-color: $pale1-yellow;
    border-radius: rem(80);

    @include mq() {
        padding: rem(56) rem(16);
        border-radius: rem(40);
        max-width: rem(636);
        margin-right: auto;
        margin-left: auto;
    }

}

.qa__main-title {
    position: relative;
}

.qa__main-img {
    max-width: rem(320);
    aspect-ratio: 32/16;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include mq() {
        margin-top: rem(8);
        max-width: rem(200);
        position: static;
        transform: translateY(0);
    }
}

.qa__body {
    margin-right: auto;
    margin-left: auto;
    max-width: rem(1120);
    @include mq() {
        max-width: rem(450);
    }
}

.qa__list {
    margin-top: rem(40);
    position: relative;
    z-index: 1;
    @include mq() {
        margin-top: 0;
    }
}