@use 'global' as *;

.service {
  margin-top: rem(128);
  @include mq() {
    margin-top: rem(59);
  }
}

.service__inner {

}

.service__body {
  margin-top: rem(80);
  padding-block: rem(80);
  border-radius: rem(80);
  background-color: $pale1-yellow;
  @include mq() {
    margin-top: rem(24);
    padding: rem(40) rem(16);
    border-radius: rem(40);
    max-width: rem(600);
    margin-right: auto;
    margin-left: auto;
  }
}

.service__subtitle {
  margin-top: rem(40);
  text-align: center;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0.04em;
    @include mq() {
    margin-top: rem(24);
    font-size: rem(14);
    text-align: left;
  }
}

.service__subtext {
  margin-top: rem(40);
  text-align: center;
  font-size: rem(28);
  line-height: 1.7;
  letter-spacing: 0.08em;
  @include mq() {
    margin-top: rem(24);
    font-size: rem(20);
    text-align: left;
  }
}

.service__boxs {
  margin-top: rem(56);
  display: flex;
  gap: rem(51);
  max-width: rem(1120);
  margin-right: auto;
  margin-left: auto;
  @include mq() {
    margin-top: rem(32);
    flex-direction: column;
    gap: rem(72);
  }
}

.service__item {
  flex: 1;
  max-width: rem(340);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.service__item:not(:first-child):before {
  content: '';
  background-color: $border-gray;
  height: 2px;
  width: rem(55);
  position: absolute;
  bottom: calc(rem(126) / rem(501) * 100%);
  left: rem(-52);
  @include mq() {
    background-color: $yellow;
    width: rem(40);
    bottom: auto;
    top:rem(-40);
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}

.service__top {
    width: 100%;
    padding-top: rem(80);
    position: relative;
    @include mq() {
    }
}

.service__number {
  font-size: rem(160);
  color: $pale2-yellow;
  line-height: 1;
  letter-spacing: 0.04em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.service__image {
  position: relative;
  z-index: 1;
  max-width: rem(233);
  margin-right: auto;
  margin-left: auto;
  @include mq() {
    margin-top: 0;
    max-width: rem(214);
  }
}

.service__image img {
  aspect-ratio: 233/162;
}

.service__content {
    width: 100%;
    text-align: left;
}

.service__title {
    border-radius: rem(16) rem(16) 0 0;
    background-color: $black;
    color: $white;
    padding-block: rem(16);
    text-align: center;
    font-size: rem(16);
    letter-spacing: 0.04em;
    font-family: $second-font-family;
    @include mq() {
      padding-block: rem(12);
      font-size: rem(14);
    }
}

.service__list {
    border-radius: 0 0 rem(16) rem(16);
    background-color: $white;
    padding: rem(24);
    min-height: rem(201);
    @include mq() {
      padding: rem(16) rem(24) rem(24);
      min-height: initial;
    }
}

.service__list-item {
  font-size: rem(20);
  letter-spacing: 0.04em;
  font-family: $second-font-family;
  position: relative;
  padding-left: calc(rem(16) + rem(12));
  @include mq() {
    font-size: rem(16);
    padding-left: calc(rem(8) + rem(10));
  }
}

.service__list-item::before {
  content: "●";
  color: $red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: rem(13);
  @include mq() {
    font-size: rem(10);
  }
}

.service__list-item + .service__list-item {
    margin-top: rem(16);
    @include mq() {
      margin-top: rem(8);
    }
}