@use 'global' as *;

.worries {
  margin-top: rem(96);
  @include mq() {
    margin-top: rem(56);
  }
}

.worries__inner {
  position: relative;
}

.worries__body {
    background-color: $white;
    padding: rem(96) 0;
    border-radius: rem(80);
    position: relative;
    z-index: 1;
  @include mq() {
    padding: rem(40) rem(13);
    border-radius: rem(40);
    max-width: rem(600);
    margin-right: auto;
    margin-left: auto;
  }
}

.worries__boxs {
  display: flex;
  justify-content: center;
  gap: rem(49);
  margin: rem(56) auto 0;
  max-width: rem(1120);
  @include mq() {
    max-width: rem(450);
    flex-direction: column;
    gap: rem(32);
    margin-top: rem(32);
  }
}

.worries__box {
  width:  calc(33% - calc(rem(49) * 2 / 3));
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq() {
    width: 100%;
  }
}

.worries__card {
  background: $base-gray;
  border-radius: rem(16);
  padding: rem(24);
  text-align: center;
  width: 100%;
}

.worries__card-title {
  font-size: rem(20);
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: rem(20);
  font-family: $second-font-family;
  @include mq() {
    font-size: rem(16);
  }
}

.worries__image {
  margin-bottom: rem(20);
  aspect-ratio: 1/1;
  max-width: rem(200);
  margin-right: auto;
  margin-left: auto;
}

.worries__text {
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0.04em;
  @include mq() {
    font-size: rem(14);
  }
}

.worries__bottom {
  margin-top: rem(32);
  padding-top: calc(rem(16) + rem(20));
  text-align: center;
  position: relative;
  @include mq() {
    margin-top: rem(24);
    padding-top: calc(rem(8) + rem(13));
  }
}

.worries__bottom::before {
  content: '';
  background: transparent url(../images/common/arrow-orange.webp) no-repeat center center / cover;
  max-width: rem(48);
  width: 100%;
  aspect-ratio: 48/20;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include mq() {
    max-width: rem(32);
  }
}

.worries__bottom-text {
  font-size: rem(24);
  letter-spacing: 0.04em;
  font-family: $second-font-family;
  @include mq() {
    font-size: rem(18);
  }
}

.worries__btn {
  max-width: rem(400);
  margin: rem(57) auto 0;
  @include mq() {
    margin-top: rem(32);
    max-width: rem(316);
  }
}