@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1120px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Montserrat", sans-serif;
$second-font-family: "Noto Sans JP", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #231815;
$white: #fff;
$base-gray: #f7f7f7;
$main-orange: #ef6a00;
$pale1-yellow: #fffcf3;
$pale2-yellow: #fdeec2;
$yellow: #f6b800;
$yellow2: #ffe28b;
$red: #d50037;
$gray: #c7c7c7;
$shadow: #333;

body {
  color: $black;
  background-color: $base-gray;
  font-family: $base-font-family;
  font-weight: $bold;
  line-height: 1.75;
}

body.js-open {
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}