@use 'global' as *;

.accordion {
    box-shadow: 0 0 rem(20) rgba($shadow, .1);
    border-radius: rem(16);
    background-color: $white;

    @include mq() {
        border-radius: rem(8);
    }
}

.accordion__q {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all .3s ease 0s;
    padding: rem(24) rem(32) rem(24) rem(40);

    @include mq() {
        padding: rem(24) rem(16);
    }
}

.accordion__q span {
    text-transform: uppercase;
    color: $yellow;
    font-size: rem(40);
    line-height: 1;
    letter-spacing: 0.04em;
    @include mq() {
        font-size: rem(24);
    }
}

.accordion__q.js-open {
    padding-bottom: rem(16);
}

.accordion__q p {
    width: 100%;
    color: $black-light;
    font-size: rem(20);
    line-height: 1.7;
    letter-spacing: 0.08em;
    position: relative;
    padding-right: calc(rem(24) + rem(20));
    padding-left: rem(40);

    @include mq() {
        font-size: rem(14);
        line-height: 1.7;
        padding-left: rem(16);
        padding-right: calc(rem(16) + rem(20));
    }
}

//アイコン
.accordion__q p::after {
    content: '';
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent url(../images/common/ico-plus.webp) no-repeat center center / cover;
    @include mq() {
        width: rem(20);
        height: rem(20);
    }
}

.accordion__q.js-open p::after {
    background-image: url(../images/common/ico-minus.webp);
}

.accordion-list__item:first-of-type .accordion__a {
    display: block;
}

.accordion__a {
    display: none;
    padding: 0 rem(40) rem(24) rem(114);

    @include mq() {
        padding: 0 rem(16) rem(24) rem(53);
    }
}

.accordion__a.js-open {
    display: block;
}

.accordion__a p {
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;

    @include mq() {
        font-size: rem(14);
    }
}