@use 'global' as *;

.contact-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    //ボタン
    background-color: $black;
    border-radius: rem(4);
    padding: rem(12);
    transition: all .3s ease 0s;
    cursor: pointer;
}

.contact-btn--data {
    background-color: $main-orange;
}

.contact-btn--header {
    @include mq() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        aspect-ratio: 1/1;
        padding: rem(7) rem(4);
    }
}

.contact-btn:hover {
    transform: scale(0.95);
}

.contact-btn>span,
.contact-btn p {
    position: relative;
    padding-left: calc(rem(20) + rem(16));
//テキスト
    color: $white;
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: 0.04em;
    @include mq() {
        padding-left: calc(rem(16) + rem(18));
        font-size: rem(14);
    }
}

.contact-btn--header span {
    @include mq() {
        font-size: rem(8);
        letter-spacing: 0;
        font-weight: $regular;
        line-height: 1.2;
        padding-left: 0;
        white-space: nowrap;
    }
}

.contact-btn--header p {
    @include mq() {
        line-height: 0;
    }
}

.contact-btn--header>span,
.contact-btn--header p {
    @include mq() {
        text-align: center;
        padding-left: 0;
        padding-top: calc(rem(4) + rem(18));
    }
}

.contact-btn>span::before,
.contact-btn p::before {
    content: "";
    background: transparent url(../images/common/ico-mail.svg) no-repeat center center / cover;
    width: rem(20);
    height: rem(20);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include mq() {
        width: rem(18);
        height: rem(18);
    }
}

.contact-btn--data span::before,
.contact-btn--data p::before {
    background-image: url(../images/common/ico-download.svg);
}

.contact-btn--header span::before,
.contact-btn--header p::before {
    @include mq() {
        top: 0;
        left: 50%;
        transform: translate(-50% , 0%);
        // transform: translateY(0);
    }
}