@use 'global' as *;

.contents-title {
    text-align: center;
    letter-spacing: 0.04em;
}

.contents-title__en {
    color: $yellow;
    text-transform: capitalize;
    margin-bottom: rem(8);
    font-size: rem(56);
    line-height: 1;
    @include mq() {
        margin-bottom: rem(4);
        font-size: rem(40);
    }
}

.contents-title--cap .contents-title__en {
    text-transform: none;
}

.contents-title__ja {
    font-size: rem(20);
    font-family: $second-font-family;
    @include mq() {
        font-size: rem(14);
    }
}