
@use 'global' as *;

.cta-orange-btn {
    display: inline-block;
    width: 100%;
    position: relative;
    //テキスト
    text-align: center;
    color: $white;
    font-size: rem(16);
    letter-spacing: 0.04em;
    line-height: 1.5;
    //ボタン
    background-color: $main-orange;
    border-radius: rem(4);
    padding: rem(16);
    transition: all .3s ease 0s;
    cursor: pointer;

    @include mq() {
        letter-spacing: 0em;
        font-size: rem(28);
        padding: rem(21) rem(15) rem(22);
    }
}

.cta-orange-btn::before,
.cta-orange-btn::after {
    content: "";
    position: absolute;
    top: 50%;
}

.cta-orange-btn::before {
    background: transparent url(../images/common/arrow-red.webp) no-repeat center center / cover;
    width: rem(5);
    height: rem(8);
    right: calc(rem(7) + rem(24));
    transform: translateY(-50%);
    z-index: 2;
}

.cta-orange-btn::after {
    display: block;
    right: rem(24);
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: $white;
    transform: translateY(-50%);
}