
@use 'global' as *;

.fv .cta-onImg-btn {
    display: none;
    @include mq() {
        display: inline-block;
    }
}

.cta-onImg-btn {
    display: inline-block;
    width: 100%;
    position: relative;
    //ボタン
    background-color: $main-orange;
    border-radius: rem(4);
    padding: rem(20) rem(40) rem(20) rem(30);
    transition: all .3s ease 0s;
    cursor: pointer;

    @include mq() {
        letter-spacing: 0em;
        font-size: rem(28);
        padding: rem(20) rem(15);
    }
}

.cta-onImg-btn:hover {
    transform: scale(0.95);
}

.cta-onImg-btn__img {
    max-width: rem(131);
    position: absolute;
    bottom: rem(8);
    left: rem(33);
    @include mq() {
        max-width: rem(108);
        bottom: rem(13);
        left: rem(19);
    }
}

.cta-onImg-btn__txt {
    position: relative;
    padding-right: calc(rem(16) + rem(20));
    text-align: right;
    color: $white;
    font-size: rem(16);
    letter-spacing: 0.04em;
    line-height: 1.5;
    @include mq() {
        font-size: rem(14);
    }
}

.cta-onImg-btn__txt::before,
.cta-onImg-btn__txt::after {
    content: "";
    position: absolute;
    top: 50%;
}

.cta-onImg-btn__txt::before {
    background: transparent url(../images/common/arrow-red.webp) no-repeat center center / cover;
    width: rem(5);
    height: rem(8);
    right: rem(7);
    transform: translateY(-50%);
    z-index: 2;
}

.cta-onImg-btn__txt::after {
    display: block;
    right: 0;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: $white;
    transform: translateY(-50%);
}