@use 'global' as *;

.cta-black-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    //ボタン
    background-color: $black;
    border-radius: rem(4);
    padding: rem(19) rem(18) rem(18);
    transition: all .3s ease 0s;
    cursor: pointer;

    @include mq() {
        padding: rem(16);
    }
}

//cta-secのボタン
.cta-black-btn--big {
    padding: rem(20);
    @include mq() {
        padding: rem(18);
    }
}

.cta-black-btn:hover {
    transform: scale(0.95);
}

.cta-black-btn span {
    position: relative;
    padding-left: calc(rem(20) + rem(16));
//テキスト
    color: $white;
    font-size: rem(18);
    letter-spacing: 0.04em;
    line-height: 1.5;
    @include mq() {
        font-size: rem(14);
    }
}

.cta-black-btn span::before,
.cta-black-btn span::after {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

.cta-black-btn span::before {
    background-image: url(../images/common/ico-mail.svg);
    width: rem(20);
    height: rem(20);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cta-black-btn span::after {
    background-image: url(../images/common/ico-line.webp);
    width: rem(27);
    height: rem(16);
    top: rem(-10);
    right: rem(-25);
    @include mq() {
        height: rem(21);
        top: rem(-13);
        right: rem(-21);
    }
}