@use 'global' as *;

.sec-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(26);
    @include mq() {
        gap: rem(8);
    }
}

.sec-title__sub {
    width: fit-content;
    text-align: center;
    font-size: rem(24);
    letter-spacing: 0.04em;
    font-family: $second-font-family;
    position: relative;
    padding-bottom: rem(8);
    border-bottom: 2px solid $black;
    @include mq() {
        font-size: rem(16);
    }
}


.sec-title__sub::before {
    content: '';
    width: rem(12);
    height: rem(12);
    background-color: $base-gray;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    z-index: 2;
    position: absolute;
    bottom: rem(-7);
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    @include mq() {
        bottom: rem(-6);
        width: rem(10);
        height: rem(10);
    }
}

.sec-title__main {
    text-align: center;
    width: fit-content;
    font-size: rem(40);
    line-height: 1.5;
    letter-spacing: 0.08em;
    position: relative;
    padding-top: rem(8);
    padding-left: calc(rem(12) + rem(40));
    padding-right: calc(rem(6) + rem(40));
    @include mq() {
        font-size: rem(24);
        padding-top: 0;
        padding-left: calc(rem(8) + rem(24));
        padding-right: calc(rem(8) + rem(24));
    }
}

.sec-title__main::before,
.sec-title__main::after {
    content: '';
    background: transparent url(../images/common/deco-title.webp) no-repeat center center / cover;
    width: rem(24);
    height: rem(24);
    position: absolute;
}

.sec-title__main::before {
    top: 0;
    left: 0;
}

.sec-title__main::after {
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}