@use 'global' as *;

.sub-txt {
    text-align: center;
}

.sub-txt__top span {
    position: relative;
    display: inline-block;
    padding: 0 calc(rem(12) + rem(4));
    //テキスト
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;
}

.sub-txt__top span::before,
.sub-txt__top span::after {
    content: "";
    position: absolute;
    top: 50%;
    background-color: $yellow;
    width: rem(2);
    height: rem(14);
    border-radius: rem(2);
}

.sub-txt__top span::before {
    left: 0;
    transform: translateY(-50%) rotate(-16deg);
}

.sub-txt__top span::after {
    right: 0;
    transform: translateY(-50%) rotate(16deg);
}

.sub-txt__bottom {
    margin-top: rem(8);
    text-align: center;
    font-size: rem(20);
    letter-spacing: 0.04em;
    font-family: $second-font-family;
}