@use 'global' as *;

.sub-txt {
    text-align: center;
}

.sub-txt--left {
    text-align: left;
    @include mq() {
        text-align: center;
    }
}

.sub-txt__top span {
    position: relative;
    display: inline-block;
    padding: 0 calc(rem(12) + rem(4));
    //テキスト
    font-size: rem(16);
    font-weight: $regular;
    letter-spacing: 0.04em;
    @include mq() {
        font-size: rem(14);
    }
}

//比較グラフ
.sub-txt--comparison .sub-txt__top span {
    font-family: $second-font-family;
    font-weight: $bold;
    font-size: rem(20);
    @include mq() {
        font-size: rem(14);
    }
}

//contact
.sub-txt__top--contact span {
    font-size: rem(24);
    @include mq() {
        font-family: $base-font-family;
    }
}

.sub-txt__top span::before,
.sub-txt__top span::after {
    content: "";
    position: absolute;
    top: 50%;
    background-color: $yellow;
    width: rem(2);
    height: rem(14);
    border-radius: rem(2);
}

.sub-txt--comparison .sub-txt__top span::before,
.sub-txt--comparison .sub-txt__top span::after,
.sub-txt__top--contact span::before,
.sub-txt__top--contact span::after {
    height: rem(18);
}

.sub-txt__top span::before {
    left: 0;
    transform: translateY(-50%) rotate(-16deg);
}

.sub-txt__top span::after {
    right: 0;
    transform: translateY(-50%) rotate(16deg);
}

.sub-txt__bottom {
    margin-top: rem(8);
    text-align: center;
    font-size: rem(20);
    letter-spacing: 0.04em;
    font-family: $second-font-family;
    @include mq() {
        margin-top: rem(4);
        font-size: rem(16);
    }
}

// 比較グラフ
.sub-txt--comparison .sub-txt__bottom {
    font-size: rem(28);
    line-height: 1.7;
    letter-spacing: 0.08em;
    @include mq() {
        font-size: rem(20);
    }
}

//contact
.sub-txt__bottom--big {
    margin-top: rem(16);
    font-family: $base-font-family;
    text-align: left;
    font-size: rem(44);
    line-height: 1.5;
    letter-spacing: 0.08em;
    @include mq() {
        text-align: center;
        font-size: rem(20);
        line-height: 1.7;
    }
}